name: restaurants-api-ci

on:
  push:
    branches:
      - develop
      - 'release/**'
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build, Test & Publish
    runs-on: ubuntu-latest
    outputs:
      artifact: Api-Artifact
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Publish app
        run: dotnet publish ./src/Revision_Part_1/Revision_Part_1.csproj -c Release -o publish/

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Api-Artifact
          path: publish/
