name: restaurants-api-ci-cd

on:
  pull_request:
    branches: [ develop ]

  push:
    branches:
      - develop
      - 'release/**'
      - master

  workflow_dispatch:

jobs:
  # ===============================
  # 1) BUILD JOB
  # ===============================
  build:
    name: Build, Test & Publish
    runs-on: ubuntu-latest
    outputs:
      artifact_name: Api-Artifact
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Publish app
        run: dotnet publish ./src/Revision_Part_1/Revision_Part_1.csproj -c Release -o publish/

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Api-Artifact
          path: publish/

  # ===============================
  # 2) DEPLOY → DEV (develop branch)
  # ===============================
  deploy_dev:
    name: Deploy → Dev
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: Dev
      url: ${{ steps.deploy.outputs.webapp-url }}
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Debug – Show folder structure
        run: ls -R .

      - name: Deploy to Azure Web App (Dev)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'
          publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
          package: Api-Artifact/

  # ===============================
  # 3) DEPLOY → STAGE (release/*)
  # ===============================
  deploy_stage:
    name: Deploy → Stage
    needs: build
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    environment:
      name: Stage
      url: ${{ steps.deploy.outputs.webapp-url }}
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Debug – Show folder structure
        run: ls -R .

      - name: Deploy to Azure Web App (Stage)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'
          publish-profile: ${{ secrets.PUBLISH_PROFILE_STAGE }}
          package: .

  # ===============================
  # 4) DEPLOY → PROD (master)
  # ===============================
  deploy_prod:
    name: Deploy → Prod
    needs: build
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment:
      name: Prod
      url: ${{ steps.deploy.outputs.webapp-url }}
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Debug – Show folder structure
        run: ls -R .

      - name: Deploy to Azure Web App (Prod)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'
          publish-profile: ${{ secrets.PUBLISH_PROFILE_PROD }}
          package: .
