name: restaurants-api-ci

on:
  push:
    branches:
      - develop
      - 'release/**'
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build, Test & Publish
    runs-on: ubuntu-latest
    outputs:
      artifact: Api-Artifact
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Publish app
        run: dotnet publish ./src/Revision_Part_1/Revision_Part_1.csproj -c Release -o publish/

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: Api-Artifact
          path: publish/

  deploy_dev:
    name: Deploy → Dev
    needs: build
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    environment:
      name: Dev
      url: ${{ steps.deploy.outputs.webapp-url }}
      
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Login to Docker Hub
        run: |
          echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

      - name: Pull API Image From Docker Hub
        run: |
          echo "Pulling image rahulk86/api-container:latest ..."
          docker pull rahulk86/api-container:latest

      - name: Validate Image Pulled
        run: |
          echo "Checking if image exists locally..."
          if docker image inspect rahulk86/api-container:latest > /dev/null 2>&1; then
            echo "✅ Image pulled successfully: rahulk86/api-container:latest"
          else
            echo "❌ Failed to pull image!"
            exit 1
          fi
          
#      - name: Fetch secrets from Azure Key Vault
#        uses: azure/get-keyvault-secrets@v1
#        with:
#          keyvault: "KeyWalletEnv"
#          secrets: |
#            secretname

      - name: Test Azure Access
        run: |
          echo "Testing access to Web App..."
            az webapp show \
              --name restaurants-api-dev \
              --resource-group rg-restaurants-dev
      
      - name: Fetch secret from Key Vault using Azure CLI
        id: kv
        uses: azure/cli@v2
        with:
          inlineScript: |
            SECRET_VALUE=$(az keyvault secret show \
              --vault-name KeyWalletEnv \
              --name secretname \
              --query value -o tsv)
            echo "secretvalue=$SECRET_VALUE" >> $GITHUB_OUTPUT

      - name: Validate secret was loaded
        run: |
          if [ -z "${{ steps.kv.outputs.secretvalue }}" ]; then
            echo "❌ Secret was not fetched!"
            exit 1
          else
            echo "✅ Secret fetched successfully (value hidden)"
          fi
          
      - name: Deploy to Azure Web App (Dev)
        id: deploy
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'               # CHANGE
          publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
          package: .

      - name: Update App Settings (Dev)
        uses: azure/cli@v2
        with:
          inlineScript: |
            az webapp config appsettings set \
              --name restaurants-api-dev \
              --resource-group rg-restaurants-dev \
              --settings \
                DbConnection=${{ steps.kv.outputs.dbconn }} \
                ASPNETCORE_ENVIRONMENT=Development
