name: restaurants-api-ci
on:
  pull_request:
    branches:
    - master
  workflow_dispatch:

  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: 8.0.x
      
      - name: Restore Dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

      - name: Testing
        run: dotnet test

Second pipeline is 

name: restaurants-api-cd
on:
  push:
    branches:
    - master
  workflow_dispatch:

  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0
        
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v5.0.1
        with:
          dotnet-version: 8.0.x
      
      - name: Restore Dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

     - name: Test
        run: dotnet test --no-build --verbosity normal

      - name: Publishing
        run: dotnet publish ./src/Revision_Part_1/Revision_Part_1.csproj -o ${{env.DOTNET_ROOT}}/api --no-build

      - name: Upload a build artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Api-Artifact
          path: ${{env.DOTNET_ROOT}}/api

  deploy-dev:
    environment:
      name: 'Dev'
      url: ${{steps.deploy-to-webapp.outputs.webapp-url}}
    runs-on: ubuntu-latest
    needs: Build
    steps:
      - name: Download a build artifact
        uses: actions/download-artifact@v6.0.0
        with:
          name: Api-Artifact

      - name: Azure Web App
        uses: Azure/webapps-deploy@v2.2.17
        id: deploy-to-webapp
        with:
          app-name: 'restaurants-api-dev'
          publish-profile: ${{secrets.PUBLISH_PROFILE_DEV}}
