name: restaurants-api-ci-cd

on:
  pull_request:
    branches: [ develop ]
  push:
    branches:
      - develop
      - 'release/**'
      - master
  workflow_dispatch:

jobs:
  build:
    name: Build, Test & Publish
    runs-on: ubuntu-latest
    outputs:
      artifact: Api-Artifact
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c Release

      - name: Publish app
        run: dotnet publish ./src/Revision_Part_1/Revision_Part_1.csproj -c Release -o publish/

      - name: Upload artifact
        uses: actions/upload-artifact@v5.0.0
        with:
          name: Api-Artifact
          path: publish /

  deploy_dev:
    name: Deploy → Dev
    needs: build
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    environment:
      name: Dev
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Deploy to Azure Web App (Dev)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'               # CHANGE
          publish-profile: ${{ secrets.PUBLISH_PROFILE_DEV }}
          package: publish/

  deploy_stage:
    name: Deploy → Stage
    needs: build
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest
    environment:
      name: Stage
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Deploy to Azure Web App (Stage)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'             # CHANGE
          publish-profile: ${{ secrets.PUBLISH_PROFILE_STAGE }}
          package: publish/

  deploy_prod:
    name: Deploy → Prod (manual / protected)
    needs: build
    # This runs only on master push; to require manual run & approvals we guard with workflow_dispatch or environment approvals
    if: github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    environment:
      name: Prod
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          name: Api-Artifact

      - name: Deploy to Azure Web App (Prod)
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'restaurants-api-dev'              # CHANGE
          publish-profile: ${{ secrets.PUBLISH_PROFILE_PROD }}
          package: publish/